In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

# You can configure the format of the images: ‘png’, ‘retina’, ‘jpeg’, ‘svg’, ‘pdf’.
%config InlineBackend.figure_format = 'svg'
# this statement allows the visuals to render within your Jupyter Notebook
%matplotlib inline

In [2]:
df = pd.read_csv('../data/KaggleV2-May-2016.csv')

In [3]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [4]:
df.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [5]:
df.info() ### check dtypes and for missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [6]:
###remove negative value for age 
df['Age'].replace(-1,np.NaN, inplace=True)

In [7]:
### Cast datetime features  
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'], infer_datetime_format=True)
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay'], infer_datetime_format=True)

In [8]:
### Cast target and gender feature as binaries
### Yes = 1
### F = 1
df['No-show'] = pd.get_dummies(df['No-show'])
df['No-show'] = pd.get_dummies(df['No-show']) ### repeating because I want Yes to be '1'
df['Gender'] = pd.get_dummies(df['Gender'])

In [9]:
### Calculate time lag between ScheduleDay and AppointmentDay
df['time_lag'] = (df['AppointmentDay'] - df['ScheduledDay'])

In [10]:
df['time_lag'].describe() ### there seems to be negative date differences...

count                      110527
mean       9 days 17:08:34.161960
std       15 days 05:51:27.891504
min             -7 days +10:10:40
25%      -1 days +15:41:31.500000
50%               3 days 11:22:18
75%       14 days 07:41:34.500000
max             178 days 13:19:01
Name: time_lag, dtype: object

In [27]:
df['time_lag_days'] = df['time_lag'].apply(lambda x:x.days)
df['time_lag_days'].astype(int)

### -1 means less than a day, but when I checked the entries for time differences
### of less than -1, the scheduled date is clearly after appointment date

0         -1
1         -1
2         -1
3         -1
4         -1
          ..
110522    34
110523    34
110524    40
110525    40
110526    40
Name: time_lag_days, Length: 110527, dtype: int64

In [28]:
df['time_lag_days'].apply(abs) ### cast day lag into absolute values

### I suspect that the negative days are arising from data entry errors, 
### where the scheduled and appointment days were mixed up

0          1
1          1
2          1
3          1
4          1
          ..
110522    34
110523    34
110524    40
110525    40
110526    40
Name: time_lag_days, Length: 110527, dtype: int64

In [30]:
df.Neighbourhood.value_counts().describe()

### there are way too many variables to create dummies.
### Let's try to reduce them by setting a minimum category count

count      81.000000
mean     1364.530864
std      1369.199539
min         1.000000
25%       413.000000
50%       851.000000
75%      2018.000000
max      7717.000000
Name: Neighbourhood, dtype: float64

In [47]:
x = df.Neighbourhood.value_counts()

In [49]:
pd.options.display.max_rows = 4000

JARDIM CAMBURI                 7717
MARIA ORTIZ                    5805
RESISTÊNCIA                    4431
JARDIM DA PENHA                3877
ITARARÉ                        3514
CENTRO                         3334
TABUAZEIRO                     3132
SANTA MARTHA                   3131
JESUS DE NAZARETH              2853
BONFIM                         2773
SANTO ANTÔNIO                  2746
SANTO ANDRÉ                    2571
CARATOÍRA                      2565
JABOUR                         2509
SÃO PEDRO                      2448
ILHA DO PRÍNCIPE               2266
NOVA PALESTINA                 2264
ANDORINHAS                     2262
DA PENHA                       2217
ROMÃO                          2215
GURIGICA                       2018
SÃO JOSÉ                       1977
BELA VISTA                     1907
MARUÍPE                        1902
FORTE SÃO JOÃO                 1889
ILHA DE SANTA MARIA            1885
SÃO CRISTÓVÃO                  1836
REDENÇÃO                       1553
SÃO BENEDITO                   1439
JOANA D´ARC                    1427
CRUZAMENTO                     1398
CONSOLAÇÃO                     1376
SANTA TEREZA                   1332
PRAIA DO SUÁ                   1288
SANTOS DUMONT                  1276
GRANDE VITÓRIA                 1071
ILHA DAS CAIEIRAS              1071
INHANGUETÁ                     1057
PRAIA DO CANTO                 1035
BENTO FERREIRA                  858
VILA RUBIM                      851
DO QUADRO                       849
CONQUISTA                       849
REPÚBLICA                       835
MONTE BELO                      824
PARQUE MOSCOSO                  802
GOIABEIRAS                      700
JUCUTUQUARA                     694
FONTE GRANDE                    682
MATA DA PRAIA                   644
DO CABRAL                       560
SANTOS REIS                     547
ESTRELINHA                      538
SANTA CLARA                     506
SOLON BORGES                    469
PIEDADE                         452
SANTA CECÍLIA                   448
SANTA LÚCIA                     438
SANTA LUÍZA                     428
BARRO VERMELHO                  423
DO MOSCOSO                      413
MÁRIO CYPRESTE                  371
BOA VISTA                       312
COMDUSA                         310
DE LOURDES                      305
ARIOVALDO FAVALESSA             282
ANTÔNIO HONÓRIO                 271
FRADINHOS                       258
ENSEADA DO SUÁ                  235
SANTA HELENA                    178
HORTO                           175
UNIVERSITÁRIO                   152
SEGURANÇA DO LAR                145
NAZARETH                        135
MORADA DE CAMBURI                96
PONTAL DE CAMBURI                69
ILHA DO BOI                      35
ILHA DO FRADE                    10
AEROPORTO                         8
ILHAS OCEÂNICAS DE TRINDADE       2
PARQUE INDUSTRIAL                 1
Name: Neighbourhood, dtype: int64